<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
  Server Error
  405 - HTTP verb used to access this page is not allowed.
  The page you are looking for cannot be displayed because an invalid method (HTTP verb) was used to attempt access.
  
  note: IIS only GET and POST. Remove "WebDAVModule" use PUT and DELETE
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>

</configuration>